
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
=======
/* :root{
>>>>>>> a1018e9e912f179f9ac7bccaa723f95f586199e4
    --gray-color:#474747;
    --blue--shade : #2683b559;
    --jaune-color : #f4cf1b;
    --blue-color: #1078ad;
<<<<<<< HEAD
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 17px;
    font-family: roboto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue--shade);
}

.links{
    display: flex;
    align-items: center;
}
.links li{
    margin: 5px;
    list-style: none;
    margin: 0 1rem;
    text-transform: capitalize;
}
.links a{
    text-decoration: none;
    color: var(--blue-color);
    font-weight: 900;
}
.links i{
    color: var(--jaune-color);
}
.active{
    color:var(--gray-color) !important;
}
.langue{
    border: 1px solid var(--blue--shade);
    padding: 3px;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--jaune-color);
    padding: 5px;
}
.info h3{
    color: var(--gray-color);
    margin: 7px;
}
.info p{
    color: var(--blue-color);
    font: 13px;
    width: 500px;
    margin: auto;
}
=======
} */


>>>>>>> a1018e9e912f179f9ac7bccaa723f95f586199e4
