@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{

    /* Headings and titles font */
    --title-font :  'Josefin Sans', sans-serif;

    /* text and paragraphs font */
    --text-font : 'Karla', sans-serif;

    /* User interface colors  */
    --blue :  #0a5e88;
    --yellow : #f4cf1b;
    --gray:#616161;
    --blue-shade : #2683b5b7;
}


/* initialisation */
*,
*::after,
*::before{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navbar start */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue-shade);
    font-family: var(--title-font);
    font-size: 1.5rem;
}

.links{
    display: flex;
    align-items: center;
}
.links li{
    margin: 5px;
    list-style: none;
    margin: 0 1rem;
    text-transform: capitalize;
}
.links a{
    text-decoration: none;
    color: var(--blue);
    font-weight: 900;
}
.links i{
    color: var(--yellow);
}
.active{
    color:var(--gray) !important;
}
.langue{
    border: 1px solid var(--blue);
    padding: 3px;
    border-radius: 5px;
}

/* navbar end */

/* info section start */
.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--yellow);
    padding: 5px;
}
.info h3{
    color: var(--gray);
    margin: 7px;
    font-family: var(--title-font);
}
.info p{
    font-family: var(--text-font);
    color: var(--blue);
    font: 13px;
    width: 500px;
    margin: auto;
}
/* info section info end */

/* hero start */

.hero{
    display: flex;
    padding: 1rem;
    margin: auto;
    width: 90%;
}

.hero .cover{
    width: 550px;
}
.hero .icon{
    width: 50px;
}
.hero .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.hero .content h3{
    font-family: var(--title-font);
    font-size: 2rem;
    line-height: 1.3;
    color: var(--blue);
}
.hero .content p{
    font-family: var(--text-font);
    color: var(--gray);
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5;

}
.btn{
    width: 100%;
    height: 45px;
    margin: 1rem;
    padding: 5px;
    text-transform: capitalize;
    background-color: var(--blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
}

/* hero end */

